# Machine Learning / Aprendizagem Automática

## Diogo Soares, André Falcão and Sara C. Madeira, 2020/21

# ML Project  - Learning about Donations

## Instructions

## Dataset

The dataset to be analysed is **`Donors_dataset.csv`**, made available together with this project description. This dataset, downloaded from [Kaggle](https://www.kaggle.com), contains selected data from the following dataset: [Donors-Prediction](https://www.kaggle.com/momohmustapha/donorsprediction/). 


**In this project, your team is supposed to use only tabular data (not Images or Image Metadata) and see how far you can go in predicting donations and understanding the donors. You should use both supervised and unsupervised learning to tackled 2 tasks:**

1. **Task 1 (Supervised Learning) - Predicting Donation and Donation Type**
2. **Task 2 (Unsupervised Learning) - Characterizing Donors**

The **`Donors_dataset.csv`** you should learn from has **19.372 instances** described by **50 data fields** that you might use as **categorical/numerical features** 

### File Descriptions

* **Donors_dataset.csv** - Tabular/text data to be used in the machine learning tasks.


### Data Fields

* **CARD_PROM_12** - number of card promotions sent to the individual by the charitable organization in the past 12 months
* **CLUSTER_CODE** - one of 54 possible cluster codes, which are unique in terms of socioeconomic status, urbanicity, ethnicity, and other demographic characteristics
* **CONTROL_NUMBER** - unique identifier of each individual
* **DONOR_AGE** - age as of last year's mail solicitation
* **DONOR_GENDER** - actual or inferred gender
* **FILE_AVG_GIFT** - this variable is identical to LIFETIME_AVG_GIFT_AMT
* **FILE_CARD_GIFT** - lifetime average donation (in \\$) from the individual in response to all card solicitations from the charitable organization
* **FREQUENCY_STATUS_97NK** - based on the period of recency (determined by RECENCY_STATUS_96NK), which is the past 12 months for all groups except L and E. L and E are 13–24 months ago and 25–36 months ago, respectively: 1 if one donation in this period, 2 if two donations in this period, 3 if three donations in this period, and 4 if four or more donations in this period.
* **HOME_OWNER** - H if the individual is a homeowner, U if this information is unknown
* **INCOME_GROUP** - one of 7 possible income level groups based on a number of demographic characteristics
* **IN_HOUSE** - 1 if the individual has ever donated to the charitable organization's In House program, 0 if not
* **LAST_GIFT_AMT** - amount of the most recent donation from the individual to the charitable organization
* **LIFETIME_AVG_GIFT_AMT** - lifetime average donation (in \\$) from the individual to the charitable organization
* **LIFETIME_CARD_PROM** - total number of card promotions sent to the individual by the charitable organization
* **LIFETIME_GIFT_AMOUNT** - total lifetime donation amount (in \\$) from the individual to the charitable organization
* **LIFETIME_GIFT_COUNT** - total number of donations from the individual to the charitable organization
* **LIFETIME_GIFT_RANGE** - maximum donation amount from the individual minus minimum donation amount from the individual
* **LIFETIME_MAX_GIFT_AMT** - maximum donation amount (in \\$) from the individual to the charitable organization
* **LIFETIME_MIN_GIFT_AMT** - minimum donation amount (in \\$) from the individual to the charitable organization
* **LIFETIME_PROM** - total number of promotions sent to the individual by the charitable organization
* **MEDIAN_HOME_VALUE** - median home value (in 100\\$) as determined by other input variables
* **MEDIAN_HOUSEHOLD_INCOME** - median household income (in 100\\$) as determined by other input variables
* **MONTHS_SINCE_FIRST_GIFT** - number of months since the first donation from the individual to the charitable organization
* **MONTHS_SINCE_LAST_GIFT** - number of months since the most recent donation from the individual to the charitable organization
* **MONTHS_SINCE_LAST_PROM_RESP** - number of months since the individual has responded to a promotion by the charitable organization
* **MONTHS_SINCE_ORIGIN** - number of months that the individual has been in the charitable organization's database
* **MOR_HIT_RATE** - total number of known times the donor has responded to a mailed solicitation from a group other than the charitable organization
* **NUMBER_PROM_12** - number of promotions (card or other) sent to the individual by the charitable organization in the past 12 months
* **OVERLAY_SOURCE** - the data source against which the individual was matched: M if Metromail, P if Polk, B if both
* **PCT_ATTRIBUTE1** - percent of residents in the neighborhood in which the individual lives that are males and active military
* **PCT_ATTRIBUTE2** - percent of residents in the neighborhood in which the individual lives that are males and veterans
* **PCT_ATTRIBUTE3** - percent of residents in the neighborhood in which the individual lives that are Vietnam veterans
* **PCT_ATTRIBUTE4** - percent of residents in the neighborhood in which the individual lives that are WWII veterans
* **PCT_OWNER_OCCUPIED** - percent of owner-occupied housing in the neighborhood in which the individual lives
* **PEP_STAR** - 1 if individual has ever achieved STAR donor status, 0 if not
* **PER_CAPITA_INCOME** - per capita income (in \\$) of the neighborhood in which the individual lives
* **PUBLISHED_PHONE** - 1 if the individual's telephone number is published, 0 if not
* **RECENCY_STATUS_96NK** - recency status as of two years ago: A if active donor, S if star donor, N if new donor, E if inactive donor, F if first time donor, L if lapsing donor
* **RECENT_AVG_CARD_GIFT_AMT** - average donation from the individual in response to a card solicitation from the charitable organization since four years ago
* **RECENT_AVG_GIFT_AMT** - average donation (in \\$) from the individual to the charitable organization since four years ago
* **RECENT_CARD_RESPONSE_COUNT** - number of times the individual has responded to a card solicitation from the charitable organization since four years ago
* **RECENT_CARD_RESPONSE_PROP** - proportion of responses to the individual to the number of card solicitations from the charitable organization since four years ago
* **RECENT_RESPONSE_COUNT** - number of times the individual has responded to a promotion (card or other) from the charitable organization since four years ago
* **RECENT_RESPONSE_PROP** - proportion of responses to the individual to the number of (card or other) solicitations from the charitable organization since four years ago
* **RECENT_STAR_STATUS** - 1 if individual has achieved star donor status since four years ago, 0 if not
* **SES** - one of 5 possible socioeconomic codes classifying the neighborhood in which the individual lives
* **TARGET_B** - 1 if individual donated in response to last year's 97NK mail solicitation from the charitable organization, 0 if individual did not
* **TARGET_D** - amount of donation (in \\$) from the individual in response to last year's 97NK mail solicitation from the charitable organization
* **URBANICITY** - classification of the neighborhood in which the individual lives: U if urban, C if city, S if suburban, T if town, R if rural, ? if missing
* **WEALTH_RATING** - one of 10 possible wealth rating groups based on a number of demographic characteristics


### Donation TYPE

You are supposed to create a new column/feature named `DONATION_TYPE`, whose values describe ranges of the donation amount (DA) reported in feature `TARGET_D`:
* `A` - DA >= 50
* `B` - 20 <= DA < 50 
* `C` - 13 <= DA < 20
* `D` - 10 <= DA < 13
* `E` - DA < 10


### **Important Notes on Data Cleaning and Preprocessing**

   1. Data can contain **errors/typos**, whose correction might improve the analysis.
   2. Some features can contain **many values**, whose grouping in categories (aggregation into bins) might improve the analysis.
   3. Data can contain **missing values**, that you might decide to fill. You might also decide to eliminate instances/features with high percentages of missing values.
   4. **Not all features are necessarily important** for the analysis.
   5. Depending on the analysis, **some features might have to be excluded**.
   6. Class distribution is an important characteristic of the dataset that should be checked. **Class imbalance** might impair machine learning. 
  
Some potentially useful links:

* Data Cleaning and Preprocessing in Scikit-learn: https://scikit-learn.org/stable/modules/preprocessing.html#
* Data Cleaning and Preprocessing in Orange: https://docs.biolab.si//3/visual-programming/widgets/data/preprocess.html
* Dealing with imbalance datasets: https://pypi.org/project/imbalanced-learn/ and https://www.kaggle.com/rafjaa/resampling-strategies-for-imbalanced-datasets#t7

## Task 0 (Know your Data) - Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import OrdinalEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor

## 1 Loading Data

In [2]:
def load_data(fname, missing_values = None):
    """Load CSV file with any number of consecutive features, starting in column 0, where last column is tha class"""
    df = pd.read_csv(fname, na_values = missing_values)
    return df

df = load_data('Donors_dataset.csv')

In [3]:
df_original = df.copy()

## 2 Understanding Data

In this task you should **understand better the features**, their distribution of values, potential errors, etc and plan/describe what data preprocessing steps should be performed next. Very important also is to check the distribution of values in the target (class distribution). 

Here you can find a notebook with some examples of what you can do in **Exploratory Data Analysis**: https://www.kaggle.com/artgor/exploration-of-data-step-by-step/notebook. You can also use Orange widgets for this.

In [4]:
# Dataset in tabular format to have a general view of the data
df.head()

,TARGET_B,TARGET_D,CONTROL_NUMBER,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,URBANICITY,SES,CLUSTER_CODE,HOME_OWNER,...,LIFETIME_GIFT_RANGE,LIFETIME_MAX_GIFT_AMT,LIFETIME_MIN_GIFT_AMT,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_AVG_GIFT,FILE_CARD_GIFT
0,0,NaN,5,101,87.0,0,?,?,.,H,...,15.0,20.0,5.0,15.0,5,12,26,92,8.49,7
1,1,10.0,12,137,79.0,0,R,2,45,H,...,20.0,25.0,5.0,17.0,7,21,7,122,14.72,12
2,0,NaN,37,113,75.0,0,S,1,11,H,...,23.0,28.0,5.0,19.0,11,32,6,105,16.75,16
3,0,NaN,38,92,NaN,0,U,2,4,H,...,14.0,17.0,3.0,15.0,11,33,6,92,11.76,12
4,0,NaN,41,101,74.0,0,R,2,49,U,...,20.0,25.0,5.0,25.0,6,19,18,92,8.83,3

### 2.1 Errors/Typos

#### 2.1.1 Identification

Here we are identifying errors and typos present in the data using the np.unique() method. We can learn which elements are incorrect based on the available information from the dataset. Subsequently, these values can be considered missing values and assigned as such for posterior cleaning.

In [5]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(np.unique(df[col]))

['?' 'C' 'R' 'S' 'T' 'U']
['1' '2' '3' '4' '?']
['.' '1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '21'
 '22' '23' '24' '25' '26' '27' '28' '29' '3' '30' '31' '32' '33' '34' '35'
 '36' '37' '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49'
 '5' '50' '51' '52' '53' '6' '7' '8' '9']
['H' 'U']
['A' 'F' 'M' 'U']
['B' 'M' 'N' 'P']
['A' 'E' 'F' 'L' 'N' 'S']

In [6]:
len(df.loc[df['DONOR_GENDER'] == 'A'])

1

From the information available for the DONOR_GENDER feature, we can assume that 'F', 'M' and 'U' stand for _Female_ , _Male_ and _Unknown_ , respectively. In addition, there is only one entry with the element 'A' in that column. Thus, 'A' will be considered as a typo.

In [7]:
len(df['MONTHS_SINCE_LAST_PROM_RESP'].loc[df['MONTHS_SINCE_LAST_PROM_RESP'] < 0])

8

The feature MONTHS_SINCE_LAST_PROM_RESP should only present positive values of integer type as it stores a count for the number of months since an individual responded to a promotion from a charity. However, in 8 entries we found negative values. One possibility is that the '-' was a typo, yet the information available is not enough to make this assumption. Therefore we will treat these entries as missing values as well.

#### 2.1.2 Assignemnt as NaNs

One strategy to assign missing values is during the loading process. As displayed in the following output, the NaNs are converted while the .csv file is being read. In section 2.3 we will continue this process resorting to a different method for assignment of NaNs.

In [8]:
missing_values = ['?','.']
df = load_data('Donors_dataset.csv', missing_values)

Now we can confirm that the previously identified typos are correctly read as missing values when the dataset is loaded.

In [9]:
print(df['CLUSTER_CODE'].unique())
print(df['URBANICITY'].unique())
print(df['SES'].unique())

[nan 45. 11.  4. 49.  8. 50. 28. 30. 43. 53. 42. 46. 20. 16. 40.  7. 34.
 23. 35. 41. 25. 10.  1.  9.  2. 12. 14. 37. 36. 15. 39. 38. 18. 48. 24.
  3. 13. 31.  5. 27. 19. 51. 22. 17. 26. 21. 44.  6. 29. 33. 47. 32. 52.]
[nan 'R' 'S' 'U' 'C' 'T']
[nan  2.  1.  3.  4.]

### 2.2 Redundant / Unnecessary Columns

Simply by analysing the information from the dataset and considering the tasks at hand, some features can already be viewed as redundant or unnecessary. Such columns can be dropped from the start, reducing the size of the dataset for an easier handle on the data. Naturally, additional columns and elements may be dropped throughout the course of the project should it be deemed necessary.

Let us consider the following features:
- FILE_AVG_GIFT - Identical to 'LIFETIME_AVG_GIFT_AMT'. It is redundant data;
- PUBLISHED_PHONE - Not relevant for our tasks;
- LIFETIME_MIN_GIFT_AMT - Represented in 'LIFETIME_GIFT_RANGE'. It is redundant data;
- LIFETIME_MAX_GIFT_AMT - Represented in 'LIFETIME_GIFT_RANGE'. It is redundant data;
- CONTROL_NUMBER - Unique identifier. Not relevant for our tasks;
- HOME OWNER - Entries are either _Unknown_ ('U') or _Home Owners_ ('H'). Therefore, the information is not clear and will not be relevant for out tasks.

In [10]:
# Drop columns
to_drop=['FILE_AVG_GIFT', 'PUBLISHED_PHONE', 'LIFETIME_MAX_GIFT_AMT','LIFETIME_MIN_GIFT_AMT', 
         'CONTROL_NUMBER','HOME_OWNER']
df.drop(columns = to_drop, inplace=True)
df.head()

,TARGET_B,TARGET_D,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,URBANICITY,SES,CLUSTER_CODE,DONOR_GENDER,INCOME_GROUP,...,LIFETIME_GIFT_AMOUNT,LIFETIME_GIFT_COUNT,LIFETIME_AVG_GIFT_AMT,LIFETIME_GIFT_RANGE,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_CARD_GIFT
0,0,NaN,101,87.0,0,NaN,NaN,NaN,M,2.0,...,297.0,35,8.49,15.0,15.0,5,12,26,92,7
1,1,10.0,137,79.0,0,R,2.0,45.0,M,7.0,...,368.0,25,14.72,20.0,17.0,7,21,7,122,12
2,0,NaN,113,75.0,0,S,1.0,11.0,F,5.0,...,603.0,36,16.75,23.0,19.0,11,32,6,105,16
3,0,NaN,92,NaN,0,U,2.0,4.0,F,6.0,...,435.0,37,11.76,14.0,15.0,11,33,6,92,12
4,0,NaN,101,74.0,0,R,2.0,49.0,F,2.0,...,106.0,12,8.83,20.0,25.0,6,19,18,92,3

### 2.3 Missing Values

In section 2.1 we assigned the symbols _?_ and _._ as missing values during the loading process. Now we can compute the number of NaN currently present in the dataset and learn where they are located.

In [11]:
for col in df.columns:
    if np.any(df[col].isnull()):
        print(col ,df[col].isnull().sum())

TARGET_D 14529
DONOR_AGE 4795
URBANICITY 454
SES 454
CLUSTER_CODE 454
INCOME_GROUP 4392
WEALTH_RATING 8810
MONTHS_SINCE_LAST_PROM_RESP 246

In [12]:
len(df.loc[df['TARGET_B'] == 0]) == df['TARGET_D'].isnull().sum()

True

TARGET_D has a great number of missing values. However, they seem to correspond to individuals who are not donors, an information given by the column TARGET_B (TARGET_B == 0). Therefore, no action/imputation is needed in regard to these NaNs. We will replace them with the value _0_ to not be confused with 'real' NaNs.

In [13]:
df['TARGET_D'].replace(np.nan, 0, inplace=True, regex=True)

In [14]:
# This value should be identical to the number of missing values presented before the replacement.
len(df.loc[df['TARGET_D'] == 0])

14529

#### 2.3.1 Assignment as NaNs

The features DONOR_GENDER and RECENCY_STATUS_96NK present _Unknown_ ('U') and _Lapsing_ ('L') to describe unknown data. Therefore, we will consider this information as missing and assign entries containing these strings as NaNs with the pd.replace() method. The typos previously identified in the columns 'DONOR_GENDER' and 'MONTHS_SINCE_LAST_PROM_RESP' will also be assigned as NaNs using the same funtion.

In [15]:
# Proportion of values to be converted as NaNs
print(len(df.loc[df['DONOR_GENDER'] == 'U'])/len(df['DONOR_GENDER']))
print(len(df.loc[df['RECENCY_STATUS_96NK'] == 'L'])/len(df['RECENCY_STATUS_96NK'] ))
print(len(df.loc[df['DONOR_GENDER'] == 'A'])/len(df['DONOR_GENDER']))
print(len(df.loc[df['MONTHS_SINCE_LAST_PROM_RESP'] < 0])/len(df['MONTHS_SINCE_LAST_PROM_RESP']))

0.05249845137311584
0.004800743340904398
5.162089613875697e-05
0.00041296716911005574

In [16]:
# Assigment as NaNs for the columns 'DONOR_GENDER','RECENCY_STATUS_96NK', 'DONOR_GENDER'.
cols = ['DONOR_GENDER','RECENCY_STATUS_96NK', 'DONOR_GENDER']
char = ['U','L','A']

for col, ch in zip(cols, char):
    df[col].replace(ch, np.nan, inplace=True)
    print(df[col].unique())

['M' 'F' nan 'A']
['A' 'S' 'F' 'E' 'N' nan]
['M' 'F' nan]

In [17]:
df['MONTHS_SINCE_LAST_PROM_RESP'].isnull().sum()

246

Apparently, there are already NaNs in the MONTHS_SINCE_LAST_PROM_RESP column. Thus, after adding the negative numbers the total count for missing values should increase to 254.

In [18]:
df['MONTHS_SINCE_LAST_PROM_RESP'].where(df['MONTHS_SINCE_LAST_PROM_RESP'] > 0, np.nan, inplace = True)
df['MONTHS_SINCE_LAST_PROM_RESP'].isnull().sum()

254

In [19]:
# Proportion of missing NaNs. 
# It should be the same as the proportions computed above, except for the 'MONTHS_SINCE_LAST_PROM_RESP' column.
print(df['DONOR_GENDER'].isnull().sum()/len(df['DONOR_GENDER']))
print(df['RECENCY_STATUS_96NK'].isnull().sum()/len(df['RECENCY_STATUS_96NK']))
print(df['MONTHS_SINCE_LAST_PROM_RESP'].isnull().sum()/len(df['MONTHS_SINCE_LAST_PROM_RESP']))

0.052550072269254594
0.004800743340904398
0.01311170761924427

Now we can have a clear view on the percentage of NaNs present in our dataset.

In [20]:
for col in df.columns:
    if np.any(df[col].isnull()):
        print(col ,round(df[col].isnull().sum()/len(df[col])*100,2),'%')

DONOR_AGE 24.75 %
URBANICITY 2.34 %
SES 2.34 %
CLUSTER_CODE 2.34 %
DONOR_GENDER 5.26 %
INCOME_GROUP 22.67 %
WEALTH_RATING 45.48 %
RECENCY_STATUS_96NK 0.48 %
MONTHS_SINCE_LAST_PROM_RESP 1.31 %

#### 2.3.2 NaNs Treatment

Depending on the column and the proportion of NaN, we can use different methods to treat the missing values, such as deletion and imputation.

In [21]:
df.index[df['CLUSTER_CODE'].isnull()].tolist() == df.index[df['SES'].isnull()].tolist() == df.index[df['URBANICITY'].isnull()].tolist()

True

The columns 'MONTHS_SINCE_LAST_PROM_RESP', 'RECENCY_STATUS_96NK', and 'DONOR_GENDER' have a relatively low percentage of NaNs. In addition, the NaNs found in the columns 'CLUSTER_CODE', 'SES' and 'URBANICITY' are coincident. Thus, we will discard these rows. As for the WEALTH_RATING column, it contains 45 % of NaNs which is a considerably high amount. Therefore, we are discarding the entire column.

In [22]:
# Strategy: Dropping rows/columns with NaNs
df.drop(df[df['MONTHS_SINCE_LAST_PROM_RESP'].isnull()].index, inplace = True)
df.drop(df[df['RECENCY_STATUS_96NK'].isnull()].index, inplace = True)
df.drop(df[df['CLUSTER_CODE'].isnull()].index, inplace = True)
df.drop(df[df['DONOR_GENDER'].isnull()].index, inplace = True)
df.drop(columns = ['WEALTH_RATING'], inplace=True)

In [23]:
# Remaining columns with missing data
for col in df.columns:
    if np.any(df[col].isnull()):
        print(col ,df[col].isnull().sum()/len(df[col])*100,'%')

DONOR_AGE 22.904488962033938 %
INCOME_GROUP 20.481243970262756 %

For the features DONOR_AGE and INCOME_GROUP we will impute the missing values through Multivariate Feature Imputation.

##### Encoding of categorical columns

To procede with the imputation, it is necessary to encode categorical variables.

In [24]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(col)

URBANICITY
DONOR_GENDER
OVERLAY_SOURCE
RECENCY_STATUS_96NK

In [25]:
# Columns to encode: URBANICITY, OVERLAY_SOURCE, RECENCY_STATUS_96NK
ord_enc = OrdinalEncoder()
df["URBANICITY_e"] = ord_enc.fit_transform(df[["URBANICITY"]])
df["DONOR_GENDER_e"] = ord_enc.fit_transform(df[["DONOR_GENDER"]])
df["OVERLAY_SOURCE_e"] = ord_enc.fit_transform(df[["OVERLAY_SOURCE"]])
df["RECENCY_STATUS_96NK_e"] = ord_enc.fit_transform(df[["RECENCY_STATUS_96NK"]])

In [26]:
print(df["URBANICITY_e"].unique())
print(df["DONOR_GENDER_e"].unique())
print(df["OVERLAY_SOURCE_e"].unique())
print(df["RECENCY_STATUS_96NK_e"].unique())

[1. 2. 4. 0. 3.]
[1. 0.]
[3. 0. 2. 1.]
[4. 0. 2. 1. 3.]

In [27]:
# Dataset with both encoded and decoded variables
df_original_encode = df.copy()

In [28]:
# Dataset with categorical variables encoded
df.drop(columns = ["URBANICITY","DONOR_GENDER","OVERLAY_SOURCE","RECENCY_STATUS_96NK"], inplace=True)
df.head()

,TARGET_B,TARGET_D,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,SES,CLUSTER_CODE,INCOME_GROUP,MOR_HIT_RATE,MEDIAN_HOME_VALUE,...,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_CARD_GIFT,URBANICITY_e,DONOR_GENDER_e,OVERLAY_SOURCE_e,RECENCY_STATUS_96NK_e
1,1,10.0,137,79.0,0,2.0,45.0,7.0,0,334,...,17.0,7,21,7,122,12,1.0,1.0,3.0,4.0
2,0,0.0,113,75.0,0,1.0,11.0,5.0,0,2388,...,19.0,11,32,6,105,16,2.0,0.0,3.0,4.0
3,0,0.0,92,NaN,0,2.0,4.0,6.0,0,1688,...,15.0,11,33,6,92,12,4.0,0.0,0.0,0.0
4,0,0.0,101,74.0,0,2.0,49.0,2.0,8,514,...,25.0,6,19,18,92,3,1.0,0.0,0.0,0.0
5,0,0.0,101,63.0,0,3.0,8.0,3.0,0,452,...,10.0,9,20,19,91,6,4.0,1.0,3.0,0.0

##### Multivariate Feature Imputation

###### Testing Different Estimators

To evaluate the performance of the imputer and gain an idea of the accuracy we can achieve through the use of different estimators, we applied this method to a known subset of our data. Strategy: 
- Create a subset without NaNs from the complete dataset;
- In the new subset, assign NaNs randomly to the columns DONOR_AGE and INCOME_GROUP;
- Estimate the missing values with the imputer, using different estimators;
- Evaluate the performance by calculating the mean squared error between the original and estimated values.

In [29]:
# Create a subset without NaNs from the complete dataset;
df_no_nan = df[df.iloc[:,:].notna().all(1)]
np.any(df_no_nan.isnull())

False

In [30]:
# In the new subset, assign NaNs randomly to the columns DONOR_AGE and INCOME_GROUP;
sub_for_nan = df_no_nan[['DONOR_AGE','INCOME_GROUP']]

ix = [(row, col) for row in range(sub_for_nan.shape[0]) for col in range(sub_for_nan.shape[1])]
for row, col in random.sample(ix, int(round(.1*len(ix)))):
    sub_for_nan.iat[row, col] = np.nan   

# Percentage should be 10%
print('Percentage of NaNs introduced:\n', sub_for_nan.isnull().sum()/len(sub_for_nan)*100)

# Adding the new columns with NaNs to the subset
df_nan = df_no_nan.copy()
df_nan['DONOR_AGE'] = sub_for_nan['DONOR_AGE'].values
df_nan['INCOME_GROUP'] = sub_for_nan['INCOME_GROUP'].values

Percentage of NaNs introduced:
 DONOR_AGE        9.97697
INCOME_GROUP    10.02632
dtype: float64

In [31]:
# Estimate the missing values with the imputer, using different estimators;

# Bayesian Ridge Estimator
imputer_bayes = IterativeImputer(random_state=0)
bayes = imputer_bayes.fit_transform(df_nan.values)
bayes_mse = mean_squared_error(df_no_nan, bayes)
print('MSE for the Bayesian Ridge Estimator:', round(bayes_mse, 2))

# KNN estimator
regressor = KNeighborsRegressor()
imputer_knn = IterativeImputer(estimator=regressor, random_state=0)
knn = imputer_knn.fit_transform(df_nan.values)
knn_mse = mean_squared_error(df_no_nan, knn)
print('MSE for the KNN Estimator:', round(knn_mse, 2))

MSE for the Bayesian Ridge Estimator: 0.56
MSE for the KNN Estimator: 0.72

The Bayesian Ridge estimator displays a lower error in regard to the KNN estimator. Therefore, we will use the default estimator to impute the missing values.

###### Imputation of NaNs with Bayesian Ridge Estimator

In [32]:
# Imputation with default estimator
imputer = IterativeImputer(random_state=0)
imp_arr = imputer.fit_transform(df.values)

# Dataset without missing values
df_clean = pd.DataFrame(imp_arr)
df_clean.columns = df.columns

# Testing if any NaN remains
print('Presence of NaNs in the dataset:', np.any(df_clean.isnull()))

df_clean.head()

Presence of NaNs in the dataset: False

,TARGET_B,TARGET_D,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,SES,CLUSTER_CODE,INCOME_GROUP,MOR_HIT_RATE,MEDIAN_HOME_VALUE,...,LAST_GIFT_AMT,CARD_PROM_12,NUMBER_PROM_12,MONTHS_SINCE_LAST_GIFT,MONTHS_SINCE_FIRST_GIFT,FILE_CARD_GIFT,URBANICITY_e,DONOR_GENDER_e,OVERLAY_SOURCE_e,RECENCY_STATUS_96NK_e
0,1.0,10.0,137.0,79.000000,0.0,2.0,45.0,7.0,0.0,334.0,...,17.0,7.0,21.0,7.0,122.0,12.0,1.0,1.0,3.0,4.0
1,0.0,0.0,113.0,75.000000,0.0,1.0,11.0,5.0,0.0,2388.0,...,19.0,11.0,32.0,6.0,105.0,16.0,2.0,0.0,3.0,4.0
2,0.0,0.0,92.0,62.695162,0.0,2.0,4.0,6.0,0.0,1688.0,...,15.0,11.0,33.0,6.0,92.0,12.0,4.0,0.0,0.0,0.0
3,0.0,0.0,101.0,74.000000,0.0,2.0,49.0,2.0,8.0,514.0,...,25.0,6.0,19.0,18.0,92.0,3.0,1.0,0.0,0.0,0.0
4,0.0,0.0,101.0,63.000000,0.0,3.0,8.0,3.0,0.0,452.0,...,10.0,9.0,20.0,19.0,91.0,6.0,4.0,1.0,3.0,0.0

### 2.4 Aggregation

For Task 2.1, we need to find association rules in the dataset. Therefore, it is helpful to aggregate the non-categorical variables in bins in order to create categorical versions of said variables.

In [33]:
df_clean.insert(df_clean.shape[1]-1,'DONOR_AGE_BIN',pd.cut(df_clean['DONOR_AGE'], [-0.1, 18, 30, 50, 70, df_clean['DONOR_AGE'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MONTHS_SINCE_ORIGIN_BIN',pd.cut(df_clean['MONTHS_SINCE_ORIGIN'], [-0.1, 40, 70, 100, df_clean['MONTHS_SINCE_ORIGIN'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MOR_HIT_RATE_BIN',pd.cut(df_clean['MOR_HIT_RATE'], [-0.1, 30, 120, 190, df_clean['MOR_HIT_RATE'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MEDIAN_HOME_VALUE_BIN',pd.cut(df_clean['MEDIAN_HOME_VALUE'], [-0.1, 1000, 2500, 4000, df_clean['MEDIAN_HOME_VALUE'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MEDIAN_HOUSEHOLD_INCOME_BIN',pd.cut(df_clean['MEDIAN_HOUSEHOLD_INCOME'], [-0.1, 200, 500, 1000, df_clean['MEDIAN_HOUSEHOLD_INCOME'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PCT_OWNER_OCCUPIED_BIN',pd.cut(df_clean['PCT_OWNER_OCCUPIED'], [-0.1, 25, 50, 75, df_clean['PCT_OWNER_OCCUPIED'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PER_CAPITA_INCOME_BIN',pd.cut(df_clean['PER_CAPITA_INCOME'], [-0.1, 15000, 25000, 75000, 125000, df_clean['PER_CAPITA_INCOME'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PCT_ATTRIBUTE1_BIN',pd.cut(df_clean['PCT_ATTRIBUTE1'], [-0.1, 25, 50, 75, df_clean['PCT_ATTRIBUTE1'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PCT_ATTRIBUTE2_BIN',pd.cut(df_clean['PCT_ATTRIBUTE2'], [-0.1, 25, 50, 75, df_clean['PCT_ATTRIBUTE2'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PCT_ATTRIBUTE3_BIN',pd.cut(df_clean['PCT_ATTRIBUTE3'], [-0.1, 25, 50, 75, df_clean['PCT_ATTRIBUTE3'].max()]))
df_clean.insert(df_clean.shape[1]-1,'PCT_ATTRIBUTE4_BIN',pd.cut(df_clean['PCT_ATTRIBUTE4'], [-0.1, 25, 50, 75, df_clean['PCT_ATTRIBUTE4'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_RESPONSE_PROP_BIN',pd.cut(df_clean['RECENT_RESPONSE_PROP'], [-0.1, 0.25, 0.5, 0.75, df_clean['RECENT_RESPONSE_PROP'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_AVG_GIFT_AMT_BIN',pd.cut(df_clean['RECENT_AVG_GIFT_AMT'], [-0.1, 5, 10, 18, df_clean['RECENT_AVG_GIFT_AMT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_CARD_RESPONSE_PROP_BIN',pd.cut(df_clean['RECENT_CARD_RESPONSE_PROP'], [-0.1, 0.25, 0.5, 0.75, df_clean['RECENT_CARD_RESPONSE_PROP'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_AVG_CARD_GIFT_AMT_BIN',pd.cut(df_clean['RECENT_AVG_CARD_GIFT_AMT'], [-0.1, 10, 20, 30, df_clean['RECENT_AVG_CARD_GIFT_AMT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_RESPONSE_COUNT_BIN',pd.cut(df_clean['RECENT_RESPONSE_COUNT'], [-0.1, 4, 8, 12, df_clean['RECENT_RESPONSE_COUNT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'RECENT_CARD_RESPONSE_COUNT_BIN',pd.cut(df_clean['RECENT_CARD_RESPONSE_COUNT'], [-0.1, 0.1, 3, 6, df_clean['RECENT_CARD_RESPONSE_COUNT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MONTHS_SINCE_LAST_PROM_RESP_BIN',pd.cut(df_clean['MONTHS_SINCE_LAST_PROM_RESP'], [-0.1, 0.1, 12, 20, 28, df_clean['MONTHS_SINCE_LAST_PROM_RESP'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_CARD_PROM_BIN',pd.cut(df_clean['LIFETIME_CARD_PROM'], [-0.1, 15, 30, 45, df_clean['LIFETIME_CARD_PROM'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_PROM_BIN',pd.cut(df_clean['LIFETIME_PROM'], [-0.1, 50, 100, 150, df_clean['LIFETIME_PROM'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_GIFT_AMOUNT_BIN',pd.cut(df_clean['LIFETIME_GIFT_AMOUNT'], [-0.1, 0.1, 25, 60, 150, df_clean['LIFETIME_GIFT_AMOUNT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_GIFT_COUNT_BIN',pd.cut(df_clean['LIFETIME_GIFT_COUNT'], [-0.1, 0.1, 25, 50, 75, df_clean['LIFETIME_GIFT_COUNT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_AVG_GIFT_AMT_BIN',pd.cut(df_clean['LIFETIME_AVG_GIFT_AMT'], [-0.1, 5, 10, 15, df_clean['LIFETIME_AVG_GIFT_AMT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LIFETIME_GIFT_RANGE_BIN',pd.cut(df_clean['LIFETIME_GIFT_RANGE'], [-0.1, 15, 30, 45, df_clean['LIFETIME_GIFT_RANGE'].max()]))
df_clean.insert(df_clean.shape[1]-1,'LAST_GIFT_AMT_BIN',pd.cut(df_clean['LAST_GIFT_AMT'], [-0.1, 15, 30, 45, df_clean['LAST_GIFT_AMT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'CARD_PROM_12_BIN',pd.cut(df_clean['CARD_PROM_12'], [-0.1, 3, 9, 14, df_clean['CARD_PROM_12'].max()]))
df_clean.insert(df_clean.shape[1]-1,'NUMBER_PROM_12_BIN',pd.cut(df_clean['NUMBER_PROM_12'], [-0.1, 10, 20, 30, df_clean['NUMBER_PROM_12'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MONTHS_SINCE_LAST_GIFT_BIN',pd.cut(df_clean['MONTHS_SINCE_LAST_GIFT'], [-0.1, 8, 16, 24, df_clean['MONTHS_SINCE_LAST_GIFT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'MONTHS_SINCE_FIRST_GIFT_BIN',pd.cut(df_clean['MONTHS_SINCE_FIRST_GIFT'], [-0.1, 40, 80, 120, df_clean['MONTHS_SINCE_FIRST_GIFT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'FILE_CARD_GIFT_BIN',pd.cut(df_clean['FILE_CARD_GIFT'], [-0.1, 10, 20, 30, df_clean['FILE_CARD_GIFT'].max()]))
df_clean.insert(df_clean.shape[1]-1,'INCOME_GROUP_BIN',pd.cut(df_clean['INCOME_GROUP'], [-0.1, 1.4, 2.4, 3.4, 4.4, 5.4, 6.4, df_clean['INCOME_GROUP'].max()]))

df_clean.head()

,TARGET_B,TARGET_D,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,SES,CLUSTER_CODE,INCOME_GROUP,MOR_HIT_RATE,MEDIAN_HOME_VALUE,...,LIFETIME_AVG_GIFT_AMT_BIN,LIFETIME_GIFT_RANGE_BIN,LAST_GIFT_AMT_BIN,CARD_PROM_12_BIN,NUMBER_PROM_12_BIN,MONTHS_SINCE_LAST_GIFT_BIN,MONTHS_SINCE_FIRST_GIFT_BIN,FILE_CARD_GIFT_BIN,INCOME_GROUP_BIN,RECENCY_STATUS_96NK_e
0,1.0,10.0,137.0,79.000000,0.0,2.0,45.0,7.0,0.0,334.0,...,"(10.0, 15.0]","(15.0, 30.0]","(15.0, 30.0]","(3.0, 9.0]","(20.0, 30.0]","(-0.1, 8.0]","(120.0, 260.0]","(10.0, 20.0]","(6.4, 8.337]",4.0
1,0.0,0.0,113.0,75.000000,0.0,1.0,11.0,5.0,0.0,2388.0,...,"(15.0, 201.67]","(15.0, 30.0]","(15.0, 30.0]","(9.0, 14.0]","(30.0, 64.0]","(-0.1, 8.0]","(80.0, 120.0]","(10.0, 20.0]","(4.4, 5.4]",4.0
2,0.0,0.0,92.0,62.695162,0.0,2.0,4.0,6.0,0.0,1688.0,...,"(10.0, 15.0]","(-0.1, 15.0]","(-0.1, 15.0]","(9.0, 14.0]","(30.0, 64.0]","(-0.1, 8.0]","(80.0, 120.0]","(10.0, 20.0]","(5.4, 6.4]",0.0
3,0.0,0.0,101.0,74.000000,0.0,2.0,49.0,2.0,8.0,514.0,...,"(5.0, 10.0]","(15.0, 30.0]","(15.0, 30.0]","(3.0, 9.0]","(10.0, 20.0]","(16.0, 24.0]","(80.0, 120.0]","(-0.1, 10.0]","(1.4, 2.4]",0.0
4,0.0,0.0,101.0,63.000000,0.0,3.0,8.0,3.0,0.0,452.0,...,"(5.0, 10.0]","(-0.1, 15.0]","(-0.1, 15.0]","(3.0, 9.0]","(10.0, 20.0]","(16.0, 24.0]","(80.0, 120.0]","(-0.1, 10.0]","(2.4, 3.4]",0.0

### 2.5 Class Atribution

Following the initial instructions, we have to create a new column 'DONATION_TYPE' from the column 'TARGET_D'.

In [34]:
df_clean['DONATION_TYPE'] = np.where(df_clean['TARGET_D'] >= 50,'A', 
                               np.where((df_clean['TARGET_D'] >= 20) & (df_clean['TARGET_D'] < 50),'B',
                                        np.where((df_clean['TARGET_D'] >= 13) & (df_clean['TARGET_D'] < 20),'C',
                                                 np.where((df_clean['TARGET_D'] >= 10) & (df_clean['TARGET_D'] < 13),'D',
                                                          np.where((df_clean['TARGET_D'] < 10) & (df_clean['TARGET_D'] > 0),'E', np.nan)))))

# The new column appears as the last column of the dataset
df_clean.head()

,TARGET_B,TARGET_D,MONTHS_SINCE_ORIGIN,DONOR_AGE,IN_HOUSE,SES,CLUSTER_CODE,INCOME_GROUP,MOR_HIT_RATE,MEDIAN_HOME_VALUE,...,LIFETIME_GIFT_RANGE_BIN,LAST_GIFT_AMT_BIN,CARD_PROM_12_BIN,NUMBER_PROM_12_BIN,MONTHS_SINCE_LAST_GIFT_BIN,MONTHS_SINCE_FIRST_GIFT_BIN,FILE_CARD_GIFT_BIN,INCOME_GROUP_BIN,RECENCY_STATUS_96NK_e,DONATION_TYPE
0,1.0,10.0,137.0,79.000000,0.0,2.0,45.0,7.0,0.0,334.0,...,"(15.0, 30.0]","(15.0, 30.0]","(3.0, 9.0]","(20.0, 30.0]","(-0.1, 8.0]","(120.0, 260.0]","(10.0, 20.0]","(6.4, 8.337]",4.0,D
1,0.0,0.0,113.0,75.000000,0.0,1.0,11.0,5.0,0.0,2388.0,...,"(15.0, 30.0]","(15.0, 30.0]","(9.0, 14.0]","(30.0, 64.0]","(-0.1, 8.0]","(80.0, 120.0]","(10.0, 20.0]","(4.4, 5.4]",4.0,nan
2,0.0,0.0,92.0,62.695162,0.0,2.0,4.0,6.0,0.0,1688.0,...,"(-0.1, 15.0]","(-0.1, 15.0]","(9.0, 14.0]","(30.0, 64.0]","(-0.1, 8.0]","(80.0, 120.0]","(10.0, 20.0]","(5.4, 6.4]",0.0,nan
3,0.0,0.0,101.0,74.000000,0.0,2.0,49.0,2.0,8.0,514.0,...,"(15.0, 30.0]","(15.0, 30.0]","(3.0, 9.0]","(10.0, 20.0]","(16.0, 24.0]","(80.0, 120.0]","(-0.1, 10.0]","(1.4, 2.4]",0.0,nan
4,0.0,0.0,101.0,63.000000,0.0,3.0,8.0,3.0,0.0,452.0,...,"(-0.1, 15.0]","(-0.1, 15.0]","(3.0, 9.0]","(10.0, 20.0]","(16.0, 24.0]","(80.0, 120.0]","(-0.1, 10.0]","(2.4, 3.4]",0.0,nan

In [35]:
df_clean['DONATION_TYPE'].unique()

array(['D', 'nan', 'E', 'C', 'B', 'A'], dtype=object)

For non-donors, the donation is assigned as a non-official 'nan' to avoid confusion with low donations (DONATION_TYPE == E). We will assign it as an official NaN for consistency purposes. However, these entries are never considered since the data has to be preprocessed before each task, eliminating either the non-donors entries or the entire DONATION_TYPE column.

In [36]:
df_clean['DONATION_TYPE'].replace('nan', np.nan, inplace=True, regex=True)

### 2.6 Saving Cleaned Dataset

The dataset is now clean and ready to be analysed in Tasks 1 and 2. As our project is organized in different notebooks, we have to save the data in a .csv formt to be read in each task.

In [37]:
# Save dataset as .csv file
df_clean.to_csv(r'donors_dataset_clean.csv', index=False)